<header class="bg-success text-white py-2 fs-5">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <!-- Logo -->
        <a href="{{ url_for('index') }}" class="fw-bold fs-3 ms-4 text-decoration-none text-white">
            QuickTicket
        </a>

        <!-- Thanh tìm kiếm -->
        <form class="d-flex align-items-center bg-white rounded px-2" method="get" style="width: 400px;">
            <span class="me-2 text-dark fs-6"><i class="bi bi-search"></i></span>
            <input class="form-control border-0 shadow-none fs-6 py-1" type="text" placeholder="Hôm nay bạn muốn tìm gì"
                   aria-label="Tìm kiếm">
            <button class="btn btn-outline-success border-0 fs-6 py-1 px-2" type="submit">Search</button>
        </form>


        <!-- Các nút bên phải -->
        <div class="d-flex align-items-center gap-4 me-4">
            {% if current_user.is_authenticated %}
                {% if current_user.role == "ORGANIZER" %}
            <button class="btn btn-outline-light bg-success border border-light rounded-pill px-3">Tạo sự kiện</button>
                {% endif %}
            <a href="/my_ticket" class="text-white text-decoration-none d-flex align-items-center fs-6">
                <i class="bi bi-ticket-perforated-fill me-2"></i> Vé của tôi
            </a>
            <span class="text-white fw-bold fs-6 me-2">
            Xin chào,{{ current_user.username }}
        </span>
            <a href="/logout" class="btn btn-outline-light rounded-pill px-3">Đăng xuất</a>
            {% else %}
            <a href="/login" class="text-white fw-bold text-decoration-none fs-6">
                Đăng nhập/Đăng ký
            </a>
            {% endif %}
        </div>
    </div>
</header>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style=" margin-bottom: 20px;">
    <div class="container-fluid">
        <!-- Bộ lọc chi tiết -->
        <form class="d-flex align-items-center ms-3" method="GET" action="{{ url_for('index') }}" id="filterForm">
        <select class="form-select me-2 filter-select bg-dark border-dark text-white" id="artistSelect" name="event_type_id">
                <option value="">Chọn loại sự kiện</option>
                {% if event_types %}
                    {% for item in event_types %}
                    <option value="{{ item.id }}" {% if selected_item and selected_item.id == item.id %}selected{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <!-- Diễn viên -->
            <select class="form-select me-2 filter-select bg-dark border-dark text-white" id="artistSelect" name="artist_id">
                <option value="">Chọn diễn viên</option>
                {% if artists %}
                    {% for artist in artists %}
                    <option value="{{ artist.id }}" {% if selected_artist and selected_artist.id == artist.id %}selected{% endif %}>{{ artist.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>

            <!-- Địa điểm -->
            <select class="form-select filter-select bg-dark border-dark text-white" id="locationSelect" name="city_id">
                <option value="">Chọn địa điểm</option>
                {% if cities %}
                    {% for city in cities %}
                    <option value="{{ city.id }}" {% if selected_location and selected_location == city.name %}selected{% endif %}>{{ city.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button class="btn btn-outline-light ms-3" type="submit">Lọc</button>
        </form>
    </div>
</nav>
