{% extends 'layout/base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">

<div class="event-card">
    <div class="info-section">
        <div>
            <h2>{{ event.name }}</h2>
            <p class="event-description">{{ event.description }}</p>

            <div class="info-row mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_663_3)">
                        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM13 12V7H11V14H17V12H13Z"
                              fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_663_3">
                            <rect width="24" height="24" fill="black"/>
                        </clipPath>
                    </defs>
                </svg>
                {{ event.time }}
            </div>
            <div class="info-row mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 11.728H22.5V20.728C22.5 21.2803 22.0523 21.728 21.5 21.728H3.5C2.94772 21.728 2.5 21.2803 2.5 20.728V11.728ZM17.5 3.72803H21.5C22.0523 3.72803 22.5 4.17575 22.5 4.72803V9.72803H2.5V4.72803C2.5 4.17575 2.94772 3.72803 3.5 3.72803H7.5V1.72803H9.5V3.72803H15.5V1.72803H17.5V3.72803Z"
                          fill="white"/>
                </svg>

                {{ event.date }}
            </div>
            <div class="info-row mb-3">
                <svg width="28" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.864 15.364L9.5 21.7279L3.13604 15.364C-0.37868 11.8492 -0.37868 6.15076 3.13604 2.63604C6.65076 -0.87868 12.3492 -0.87868 15.864 2.63604C19.3787 6.15076 19.3787 11.8492 15.864 15.364ZM9.5 13C11.7091 13 13.5 11.2091 13.5 9C13.5 6.79086 11.7091 5 9.5 5C7.29086 5 5.5 6.79086 5.5 9C5.5 11.2091 7.29086 13 9.5 13ZM9.5 11C8.3954 11 7.5 10.1046 7.5 9C7.5 7.89543 8.3954 7 9.5 7C10.6046 7 11.5 7.89543 11.5 9C11.5 10.1046 10.6046 11 9.5 11Z"
                          fill="white"/>
                </svg>
                {{ event.location.city }} {{event.location.district}}
            </div>
            <div class="line"></div>
            <div style="color: #2DC275; margin-top: 30px;">
                <strong>Giá từ:</strong>
                {% for tick in tickets %}
                {{ tick.price }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="image-section">
        <!--        <img src="{{ url_for('static', filename=event.image) }}" alt="Ảnh sự kiện">-->
    </div>
</div>

<div class="ticket-info">
    <h3>Thông tin vé</h3>
    <p>Thời gian: 15/08/2025</p>
    {% for tick in tickets %}
    <div class="row p-1 mt-1">
        <div class="col-4">
            <span>{{tick.type.value}}</span>
        </div>
        <div class="col-4">
            <span>Giá vé: {{tick.price}}</span>
        </div>
        <div class="quantity col-4">
            <button id="removeBtn" class="decrease" onclick="remove_from_cart( {{tick.id}} )">-</button>
            <input id="quantity-{{tick.id}}" type="text" value="0" readonly>
            <button class="increase"
                    onclick="add_to_cart( {{tick.id}}, '{{event.name}}', '{{tick.type.value}}', {{tick.price}} )">+
            </button>
        </div>
    </div>
    {% endfor %}


    <!--    <div class="ticket-row soldout">-->
    <!--        <span>Vé Thường</span>-->
    <!--        <span>Giá vé: 200.000 VND</span>-->
    <!--        <span class="soldout-badge">Hết vé</span>-->
    <!--    </div>-->

    <!--    <div class="ticket-row">-->
    <!--        <span>Vé Student</span>-->
    <!--        <span>Giá vé: 100.000 VND</span>-->
    <!--        <div class="quantity">-->
    <!--            <button class="decrease">-</button>-->
    <!--            <input type="text" value="0" readonly>-->
    <!--            <button class="increase">+</button>-->
    <!--        </div>-->
    <!--    </div>-->

    <div>
        <span id="total_ticket"> {{cart_info.total_ticket}}</span>
        <span id="total-price" >Tạm tính: {{ cart_info.total }} VNĐ </span>
    </div>

    <button class="btn btn-primary"> Tiếp tục</button>

<!--    <button class="checkout-btn">Tiếp tục - 0 VND</button>-->
</div>


<!--<script>-->
<!--    const ticketRows = document.querySelectorAll('.ticket-row[data-price]');-->
<!--  const checkoutBtn = document.querySelector('.checkout-btn');-->

<!--  function formatCurrency(amount) {-->
<!--    return amount.toLocaleString("vi-VN") + " VND";-->
<!--  }-->

<!--  function updateTotal() {-->
<!--    let total = 0;-->
<!--    ticketRows.forEach(row => {-->
<!--      const price = parseInt(row.getAttribute('data-price'));-->
<!--      const qty = parseInt(row.querySelector('input').value);-->
<!--      total += price * qty;-->
<!--    });-->
<!--    checkoutBtn.textContent = `Tiếp tục - ${formatCurrency(total)}`;-->
<!--  }-->

<!--  ticketRows.forEach(row => {-->
<!--    const decreaseBtn = row.querySelector('.decrease');-->
<!--    const increaseBtn = row.querySelector('.increase');-->
<!--    const input = row.querySelector('input');-->

<!--    increaseBtn.addEventListener('click', () => {-->
<!--      input.value = parseInt(input.value) + 1;-->
<!--      updateTotal();-->
<!--    });-->

<!--    decreaseBtn.addEventListener('click', () => {-->
<!--      if (parseInt(input.value) > 0) {-->
<!--        input.value = parseInt(input.value) - 1;-->
<!--        updateTotal();-->
<!--      }-->
<!--    });-->
<!--  });-->

<!--  checkoutBtn.addEventListener('click', () => {-->
<!--    let params = [];-->
<!--    ticketRows.forEach(row => {-->
<!--      const type = row.getAttribute('data-type');-->
<!--      const qty = parseInt(row.querySelector('input').value);-->
<!--      if (qty > 0) {-->
<!--        params.push(`${type}=${qty}`);-->
<!--      }-->
<!--    });-->

<!--    if (params.length === 0) {-->
<!--      alert("Bạn chưa chọn vé nào!");-->
<!--      return;-->
<!--    }-->

<!--    // Gán link sang trang payment-->
<!--    const checkoutUrl = "/book_ticket?" + params.join("&");-->
<!--    window.location.href = checkoutUrl;-->
<!--  });-->
<!--</script>-->

{% endblock %}
