{% extends 'layout/base.html' %}
{% block content %}
    <section class="container my-5">
        <h2 class="mb-4 fs-5">Danh sách sự kiện</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 save-date">
        {% if events %}
            {% for e in events %}
                <div class="col">
                    <a href="{{ url_for('detail_event', event_id=e.id) }}" class="text-decoration-none text-white">
                        <div class="card" style="background: #000000; border-radius: 0 0 15px 15px;">
                            <img src="{{ url_for('static', filename='images/' ~ e.id ~ '.jpg') }}"
                                 class="card-img-top"
                                 alt="Image"
                                 style="border-top-left-radius: 0px; height: 200px; border-top-right-radius: 0 0 15px 15px;">
                            <div class="card-body">
                                <h5 class="card-title fs-4 fw-bold text-white" style="height: 50px">{{ e.name }}</h5>
                                <p class="card-text text-success fs-5">{{ [e.address, e.district.name, e.city.name] | join(', ') }}</p>
                                <p class="fs-5 text-white">
                                    <i class="far fa-calendar me-2"></i>Ngày phát sóng: {{ e.date }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}


        {% else %}
            <p class="text-center text-white fs-4">Không tìm thấy sự kiện nào
            </p>
        {% endif %}
        </div>

{% if events %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('search', page=pagination.prev_num, kw=request.args.get('kw'), event_type_id=request.args.get('event_type_id'), city_id=request.args.get('city_id'), artist_id=request.args.get('artist_id')) }}">Trang trước</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Trang trước</span></li>
                {% endif %}

                {% for p in range(1, pagination.pages + 1) %}
                    <li class="page-item {% if p == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('search', page=p, kw=request.args.get('kw'), event_type_id=request.args.get('event_type_id'), city_id=request.args.get('city_id'), artist_id=request.args.get('artist_id')) }}">{{ p }}</a>
                    </li>
                {% endfor %}

                {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('search', page=pagination.next_num, kw=request.args.get('kw'), event_type_id=request.args.get('event_type_id'), city_id=request.args.get('city_id'), artist_id=request.args.get('artist_id')) }}">Trang sau</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Trang sau</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    </section>
{% endblock %}