<link rel="stylesheet" href="{{ url_for('static', filename='css/create_account.css') }}">
<form class="register-form" method="post" action="{{ url_for('login') }}">
    <h2>Đăng nhập tài khoản</h2>

    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Mật khẩu" required>

    <button type="submit" style="font-size: 16px; ">Đăng nhập</button>

    <p style="text-align:center; margin:15px 0;">Hoặc đăng nhập bằng</p>

    <a href="{{ url_for('google.login') }}" class="google-btn">
        <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google" width="16">
        Đăng nhập với Google
    </a>

    <div class="note">
        Chưa có tài khoản? <a id="openModal">Đăng ký</a>
    </div>
</form>

<!-- Modal -->
<div id="signupModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h3>Bạn muốn đăng ký tài khoản nào?</h3>
        <div class="account-choice">
            <button onclick="location.href='/create_account?role=CUSTOMER'">Người dùng</button>
            <button onclick="location.href='/create_account?role=ORGANIZER'">Nhà tuyển dụng</button>
        </div>
    </div>
</div>

<script>
    const modal = document.getElementById("signupModal");
    const openBtn = document.getElementById("openModal");
    const closeBtn = document.getElementById("closeModal");

    openBtn.onclick = function() {
      modal.style.display = "flex";
    }

    closeBtn.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    }
</script>

